div.content {
    margin: 0;
    width: 20%;
    height: 55%;
    position: absolute;
    top: 30%;
    left: 40%;
}

.card {
    background: radial-gradient(550px, #FFFF33,rgb(92, 1, 172),#FFFFFF);
    padding: 16px;
    border-radius: 20px 20px 20px 20px;
    border:4px solid #AAAA;
}

input[type=text] {
    font-size: large;
    width: 90%;
    margin: 0 0 10px 0px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.button-31 {
    background-color: rgb(92, 1, 172);
    border-radius: 16px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }

  a.button-31 {
      color:#000000;
      text-decoration: none;
      background: transparent;
  }
  
  .button-31:hover,
  .button-31:focus {
    opacity: .75;
  }

body {
    height: 100vh;
    background: linear-gradient(
         120deg, rgb(92, 1, 172), rgb(255, 255, 255)
    );
}

input[type=button] {
  background-color: rgb(42, 3, 75);
  border-radius: 16px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  }
  
  input[type=button]:hover {
    background-color: #5c2a7e;
  }

  input[type=password] {
    font-size: large;
    width: 90%;
    margin: 0 0 10px 0px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
