<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/AvailableItems.css">
    <title>Available Items</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        function increment_quantity_a(event) {
            $.get("/increment_quantity_a", function(data) {
                location.reload()
            });
        }

        function increment_quantity_b(event) {
            $.get("/increment_quantity_b", function(data) {
                location.reload()
            });
        }

        function increment_quantity_c(event) {
            $.get("/increment_quantity_c", function(data) {
                location.reload()
            });
        }

        function increment_quantity_d(event) {
            $.get("/increment_quantity_d", function(data) {
                location.reload()
            });
        }

        function increment_quantity_e(event) {
            $.get("/increment_quantity_e", function(data) {
                location.reload()
            });
        }

        function logout(event) {
            $.get("/logout", function() {});
        }
    </script>
</head>

<body>
    <div>
        <div class="header">
            <h1>Welcome to E-Mart, {{log_html}}!</h1>
            <h3>Available Items to Purchase!</h3>
        </div>
        <div class = "container">
            <div class = "items">
                <img src="{{url_for('static', filename='images/waddle dee plush.jpg')}}" alt="Waddle Dee Plush - $14.99" style="width:150px;height:150px;"> Waddle Dee Plush - $14.99 ({{items_a_html}} in cart)<br>
                <button type="button" onclick="increment_quantity_a(event)">Add to Cart</button>
            </br>
            </div>
            <div class = "items">
                <img src="{{url_for('static', filename='images/N9-Mask.jpg')}}" alt="100 Box of N9-Mask - $15.99" style="width:150px;height:150px;">100 Box of N9-Mask - $15.99 ({{items_b_html}} in cart)<br>
                <button type="button" onclick="increment_quantity_b(event)">Add to Cart</button>
            </br>
            </div>
            <div class = "items">
                <img src="{{url_for('static', filename='images/HandSanitizer.jpeg')}}" alt="Hand Sanitizer - $3.99" style="width:150px;height:150px;">Hand Sanitizer - $3.99 ({{items_c_html}} in cart)<br> 
                <button type="button" onclick="increment_quantity_c(event)">Add to Cart</button>
            </div>
            <div class = "items">
                <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/ampere/rtx-3090/geforce-rtx-3090-shop-630-d.png" alt="Nvidia 3090Ti Graphics Card - $2899.99" style="width:150px;height:150px;">Nvidia 3090Ti Graphics Card - $2899.99 ({{items_d_html}} in cart)<br>
                <button type="button" onclick="increment_quantity_d(event)">Add to Cart</button>
            </div>
            <div class = "items">
                <img src="https://i5.walmartimages.com/asr/f62842fd-263f-46d4-8954-9fbe1a25d636.fefa1d11a99643573cf756f2ce835c05.png" alt="Playstation 5 console - $499.99" style="width:150px;height:150px;">Playstation 5 console - $499.99 ({{items_e_html}} in cart)<br>
                <button type="button" onclick="increment_quantity_e(event)">Add to Cart</button>
            </div>
            </div>
        </div>
        <p id="gift_card_link" style="display:block">Gift card money: ${{money_html}}<a href="{{ url_for('funds_page') }}">Add Funds</a></p>
        <p><a href="{{ url_for('cart_page') }}">Edit Cart</a></p>
        <p><a href="{{ url_for('checkout_page') }}">Checkout</a></p>
        <p><a href="{{ url_for('login_page') }}" onclick="logout(event)">Log Out</a></p>
        <script>
            if ('{{log_html}}' == 'Guest') {
                document.getElementById("gift_card_link").style.display = "none";
            }
        </script>
    </div>

</body>
</html>
